# print and input

In [11]:
print("Hello")

Hello

In [12]:
In[1]

'print("Hello")'

In [10]:
_

'print("Hello")'

In [13]:
print("a","b","c")

a b c

In [14]:
a =10
print(f"a = {a}")

a = 10

In [15]:
# a = input("Enter something: ")
print(a)

10

In [16]:
a = 10
print(type(a))

<class 'int'>

In [17]:
a = '10'
print(int(a))

10

In [22]:
%time
a = 10

CPU times: user 3 μs, sys: 1e+03 ns, total: 4 μs
Wall time: 5.25 μs

# basic arithmetic

In [23]:
print(f'{3+4 = }')
print(f'{4-2 = }')
print(f'{2*5 = }')
print(f'{8/4 = }')
print(f'{7//3 = }')
print(f'{7%3 = }')
print(f'{2**3 = }')

3+4 = 7
4-2 = 2
2*5 = 10
8/4 = 2.0
7//3 = 2
7%3 = 1
2**3 = 8

In [24]:
import math
print(f'{math.sqrt(16) = }')
print(f'{math.log10(100) = }')
print(f'{math.sin(math.radians(30)) = }')
print(f'{math.cos(math.radians(60)) = }')
print(f'{math.pi = }')
print(f'{math.e = }')

math.sqrt(16) = 4.0
math.log10(100) = 2.0
math.sin(math.radians(30)) = 0.49999999999999994
math.cos(math.radians(60)) = 0.5000000000000001
math.pi = 3.141592653589793
math.e = 2.718281828459045

# functions

In [ ]:
def F(n):
    return F(n-1) + F(n-2) if n > 1 else n

# If else

In [118]:
from random import randint

a = randint(1,20)
b = randint(1,20)
print(f"a={a}, b={b}")
if a < b:
    print("a is less than b")
elif a > b :
    print("a is greater than b")
elif a == b:
    print("a is equal to b")
else:
    print("WTF")

a=17, b=8
a is greater than b

In [121]:
t = True
f = False
print(t and f)
print(t or f)
print(not t)

False
True
False

# list and for loop

In [86]:
a = [1,2,3]
a.append(4)
print(a)
print(a[0])

[1, 2, 3, 4]
1

In [87]:
print(len(a))

4

In [34]:
x = a.pop()
print(x)
print(a)

2
{3, 4, 5, 6, 7, 'a', 'b', 'c'}

In [14]:
for i in a:
    print(i)

1
2
3

In [15]:
a = list(range(1,20,2))
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
b = [a**2 for a in a]
b

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [38]:
a = list(range(1,11))
print('a:',a)
b = [i for i in a if i%2==0]
print('b:',b)

a: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b: [2, 4, 6, 8, 10]

map

In [20]:
def square(x):
    return x**2
b = list(map(square, a))
b

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [21]:
b = list(map(lambda x: x**2, a))
b

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

### Slicing

In [61]:
a = list(range(10))
print('a:',a)
print("[:5] =>",a[:5])
print("[5:] =>",a[5:])
print("[2:8] =>",a[2:8])
print("[::2] =>",a[::2])
print("[1::2] =>",a[1::2])
print("[::-1] =>",a[::-1])
print("[5:2:-1] =>",a[5:2:-1])

a: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[:5] => [0, 1, 2, 3, 4]
[5:] => [5, 6, 7, 8, 9]
[2:8] => [2, 3, 4, 5, 6, 7]
[::2] => [0, 2, 4, 6, 8]
[1::2] => [1, 3, 5, 7, 9]
[::-1] => [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[5:2:-1] => [5, 4, 3]

# Set

In [40]:
a = {'a','b','c',1,2,3}
type(a)

set

In [41]:
a.add(4)
a

{1, 2, 3, 4, 'a', 'b', 'c'}

In [42]:
a.update([5,6,7])
a

{1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c'}

In [43]:
a.remove(1)
print(a)
a.remove(8)

{2, 3, 4, 5, 6, 7, 'a', 'b', 'c'}

KeyError: 8

In [44]:
a.discard(8)
print(a)

{2, 3, 4, 5, 6, 7, 'a', 'b', 'c'}

In [52]:
a = {1, 2, 3}
b = {3, 4, 5}

# union
print("union")
print(a | b)           # {1, 2, 3, 4, 5}
print(a.union(b))      # 同上
print("-----------------")
# intersection
print("intersection")
print(a & b)           # {3}
print(a.intersection(b))
print("-----------------")
# difference
print("difference")
print(a - b)           # {1, 2}
print(a.difference(b))
print("-----------------")
# symmetric difference (XOR)
print("symmetric difference (XOR)")
print(a ^ b)           # {1, 2, 4, 5}
print(a.symmetric_difference(b))

union
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
-----------------
intersection
{3}
{3}
-----------------
difference
{1, 2}
{1, 2}
-----------------
symmetric difference (XOR)
{1, 2, 4, 5}
{1, 2, 4, 5}

In [47]:
print(2 in a)
print(9 in a)

True
False

# Dictionary

In [62]:
a = {}
print(type(a))

<class 'dict'>

In [73]:
a = {'one':1, 'two':2, 'three':3}
print(a)

{'one': 1, 'two': 2, 'three': 3}

In [74]:
a["four"] = 4
print(a)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [70]:
print(a['one'])
print(a.get('two'))
print(a.get('five'))
print(a['five'])

1
2
None

KeyError: 'five'

In [75]:
del a['four']
val = a.pop('three')
print('val:',val)
print(a)

val: 3
{'one': 1, 'two': 2}

In [ ]:
d = {"x": 1, "y": 2, "z": 3}
for key, value in d.items(): # .items() return a list of tuples
    print(key, value)

x 1
y 2
z 3

In [78]:
for key in d.keys():
    print(key,d[key])

x 1
y 2
z 3

# other useful built-in functions

In [166]:
D = students = {"Alice": 85, "Bob": 58, "Charlie": 92}
print(len(D))
L = list(range(0,53,2))
print(len(L))

3
27

In [ ]:
# sum
sum([1, 2, 3])         # 6
sum([1, 2, 3], 10)     # 16

16

In [162]:
# max and min
nums = [1, 5, 3]
print(max(nums))  # 5
print(min(nums))  # 1

words = ["apple", "banana", "kiwi"]
print(max(words, key=len))  # banana

5
1
banana

# Tuple

In [81]:
T = (1,2)
print(type(T))

<class 'tuple'>

In [82]:
a,b = T
print(a,b)

1 2

In [83]:
a,b = b,a
print(a,b)

2 1

In [101]:
d = {"x": 1, "y": 2, "z": 3}
print(d.items())

dict_items([('x', 1), ('y', 2), ('z', 3)])

[To learn more](https://docs.python.org/3.6/tutorial/datastructures.html)

# map() filer() reduce()

In [ ]:
# map() on list
L = list(range(1,21))
D = list(map(lambda x: x**2, L))
print(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
# map() on dictionary
students = {"Alice": 85, "Bob": 58, "Charlie": 92}

curved = dict(map(lambda item: (item[0], item[1] + 5), students.items()))
print(curved)

{'Alice': 90, 'Bob': 63, 'Charlie': 97}

In [104]:
# filter() on list
L = list(range(1,21))
even_numbers = list(filter(lambda x: x%2==0, L))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [132]:
# https://www.geeksforgeeks.org/python/reduce-in-python/
from functools import reduce
li = ["Geeks", "for", "Geeks"]
res = reduce(lambda x, y: x + " " + y, li)
print(res)

Geeks for Geeks

In [105]:
# filter() on dictionary
students = {
    "Alice": 85,
    "Bob": 58,
    "Charlie": 92,
    "David": 45
}

passed = dict(filter(lambda item: item[1] >= 60, students.items()))
print(passed)

{'Alice': 85, 'Charlie': 92}

In [128]:
# reduce() on list
from functools import reduce
L = [1,2,3,4,5]
product = reduce(lambda x, y: x * y, L,1)
print(product)

120

In [122]:
# find the maximum value in a list
nums = [3, 8, 2, 10, 5]
max_num = reduce(lambda a, b: a if a > b else b, nums)
print(max_num)

10

In [133]:
from functools import reduce

students = {"Alice": 85, "Bob": 58, "Charlie": 92}

total = reduce(lambda acc, item: acc + item[1], students.items(),0) # The first element is a tuple which cant be added directly
print(total)

235

# any() all()

In [155]:
print(any([True, False, True]))
print(any([0, False, 1]))

print(all([True, True, True]))
print(all([True, False, True]))
print(all([1, 2, 3, 0]))

True
True
True
False
False

In [ ]:
students = {
    "Alice": 85,
    "Bob": 58,
    "Charlie": 92,
    "David": 45
}
print(all(score >= 60 for score in students.values()))
print(any(score < 60 for score in students.values()))

False
True

# some basic data structures

In [143]:
from queue import Queue
q = Queue()
for i in range(5):
    q.put(i)
    print(f"Enqueued: {i}")

while not q.empty():
    print(f"Dequeued: {q.get()}")
# Stack can be implemented using list

Enqueued: 0
Enqueued: 1
Enqueued: 2
Enqueued: 3
Enqueued: 4
Dequeued: 0
Dequeued: 1
Dequeued: 2
Dequeued: 3
Dequeued: 4

In [152]:
from collections import deque
dq = deque([1,2,3])
dq.append(4)        
dq.appendleft(0)
print(dq)
print("first element:",dq[0])
print("last element:",dq[-1])
dq.pop()
print("after pop():",dq)
dq.popleft()
print("after popleft():",dq)
dq.rotate(1)
print("after rotate(1):",dq)
dq.rotate(-2)
print("after rotate(-2):",dq)

deque([0, 1, 2, 3, 4])
first element: 0
last element: 4
after pop(): deque([0, 1, 2, 3])
after popleft(): deque([1, 2, 3])
after rotate(1): deque([3, 1, 2])
after rotate(-2): deque([2, 3, 1])